.has-fade {
    visibility: hidden;
}

@keyframes fade-in {
    // initial here
    from {
        visibility: hidden;
        opacity: 0;
    }

    1% {
        visibility: visible;
        opacity: 0;
    }

    //end styles here
    to {
        visibility: visible;
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-out {
    // initial here
    from {
        visibility: visible;
        opacity: 1;
    }

    99% {
        visibility: visible;
        opacity: 0;
    }

    //end styles here
    to {
        visibility: hidden;
        opacity: 0;
    }
}

.fade-out {
    animation: fade-out 300ms ease-in-out forwards;
}
// display property can't be animated